<html>
<head>
  <link rel="stylesheet" href="/stylesheet.css">
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
</head>

<body>

<h2>Add a car</h2>

  <div class="formulaire">
    <form class="carForm" action="/form"> <!-- action = route utilisée pour traiter les infos -->
      <input type="text" placeholder="modele" name="modele"> <!-- name = clé des éléments renvoyés -->
      <input type="text" placeholder="marque" name="marque">
      <input type="text" placeholder="ville" name="ville">
      <input type="text" placeholder="places" name="places">
      <input type="submit" value="Valider">
    </form>
  </div>

</body>
</html>
